{"openapi":"3.1.0","info":{"title":"Deepgram","version":"1.0"},"servers":[{"url":"https://api.deepgram.com/v1"}],"components":{"securitySchemes":{"sec0":{"type":"apiKey","in":"header","name":"Authorization","x-bearer-format":"token"}}},"security":[{"sec0":[]}],"paths":{"/listen":{"post":{"summary":"Pre-recorded","description":"Transcribe and analyze pre-recorded audio","operationId":"pre-recorded","parameters":[{"name":"model","in":"query","description":"AI model used to process submitted audio. Default: `general`. <a href=\"/docs/model\">Learn More</a>","schema":{"type":"string","enum":["general","meeting","phonecall","voicemail","finance","conversationalai","video","whisper","<custom_id>"]}},{"name":"tier","in":"query","description":"Level of model you would like to use in your request. Default: `base`. <a href=\"/docs/tier\">Learn More</a>","schema":{"type":"string","enum":["nova","enhanced","base"]}},{"name":"version","in":"query","description":"Version of the model to use. Default: `latest`. <a href=\"/docs/version\">Learn More</a>","schema":{"type":"string","enum":["latest","<version_id>"]}},{"name":"language","in":"query","description":"The <<glossary:BCP-47>> language tag that hints at the primary spoken language. Default: `en`. <a href=\"/docs/language\">Learn More</a>","schema":{"type":"string","enum":["da","en","en-AU","en-GB","en-IN","en-NZ","en-US","es","es-419","fr","fr-CA","hi","hi-Latn","id","it","ja","ko","nl","pl","pt","pt-BR","pt-PT","ru","sv","tr","uk","zh-CN","zh-TW"]}},{"name":"detect_language","in":"query","description":"Detect the language of the provided audio. Default: `false`. <a href=\"/docs/language-detection\">Learn More</a>","schema":{"type":"boolean"}},{"name":"punctuate","in":"query","description":"Add punctuation and capitalization to the transcript. Default: `false`. <a href=\"/docs/punctuation\">Learn More</a>","schema":{"type":"boolean"}},{"name":"profanity_filter","in":"query","description":"Remove profanity from the transcript. Default: `false`. <a href=\"/docs/profanity-filter\">Learn More</a>","schema":{"type":"boolean"}},{"name":"redact","in":"query","description":"Redact sensitive information, replacing redacted content with asterisks (*). Can send multiple instances in query string (for example, <code>redact=pci&redact=numbers</code>). Default: `false`. <a href=\"/docs/redact\">Learn More</a>","schema":{"type":"string","enum":["pci","numbers","true","ssn","false"]}},{"name":"diarize","in":"query","description":"Recognize speaker changes. Each word in the transcript will be assigned a speaker number starting at 0. Default: `false`. <a href=\"/docs/diarization\">Learn More</a>","schema":{"type":"boolean"}},{"name":"diarize_version","in":"query","description":"Version of the diarization feature to use. Only used when the diarization feature is enabled (<code>diarize=true</code> is passed to the API). <a href=\"/docs/diarization#enable-feature\">Learn More</a>","schema":{"type":"string"}},{"name":"smart_format","in":"query","description":"Apply formatting to transcript output. When set to true, additional formatting will be applied to transcripts to improve readability. Default: `false`. <a href=\"/docs/smart-format\">Learn More</a>","schema":{"type":"boolean"}},{"name":"multichannel","in":"query","description":"Transcribe each audio channel independently. Default: `false`. <a href=\"/docs/multichannel\">Learn More</a>","schema":{"type":"boolean"}},{"name":"alternatives","in":"query","description":"Number of transcripts to return per request. Default: `1`.","schema":{"type":"integer","format":"int32"}},{"name":"numerals","in":"query","description":"Convert numbers from written format (e.g., one) to numerical format (e.g., 1). Default: `false`. <a href=\"/docs/numerals\">Learn More</a>","schema":{"type":"boolean"}},{"name":"search","in":"query","description":"Terms or phrases to search for in the submitted audio. Can send multiple instances in query string (for example, <code>search=speech&search=Friday</code>). <a href=\"/docs/search\">Learn More</a>","schema":{"type":"string"}},{"name":"replace","in":"query","description":"Terms or phrases to search for in the submitted audio and replace. Can send multiple instances in query string (for example, <code>replace=this:that&replace=thisalso:thatalso</code>). <a href=\"/docs/find-and-replace\">Learn More</a>","schema":{"type":"string"}},{"name":"callback","in":"query","description":"Callback URL to provide if you would like your submitted audio to be processed asynchronously. <a href=\"/docs/callback\">Learn More</a>","schema":{"type":"string"}},{"name":"keywords","in":"query","description":"Keywords to which the model should pay particular attention to boosting or suppressing to help it understand context. Can send multiple instances in query string (for example, <code>keywords=medicine&keywords=prescription</code>). <a href=\"/docs/keywords\">Learn More</a>","schema":{"type":"string"}},{"name":"paragraphs","in":"query","description":"Split audio into paragraphs. Default: `false`. <a href=\"/docs/paragraphs\">Learn More</a>","schema":{"type":"boolean"}},{"name":"summarize","in":"query","description":"Summarize content. Default: `false`. <a href=\"/docs/summarization\">Learn More</a>","schema":{"type":"boolean"}},{"name":"detect_topics","in":"query","description":"Identify and extract key topics. Default: `false`. <a href=\"/docs/topic-detection\">Learn More</a>","schema":{"type":"boolean"}},{"name":"utterances","in":"query","description":"Segment speech into meaningful units based on gaps in speech. Default: `false`. <a href=\"/docs/utterances\">Learn More</a>","schema":{"type":"boolean"}},{"name":"utt_split","in":"query","description":"Length of time in seconds used to split utterances. Default: `0.8`. <a href=\"/docs/utterance-split\">Learn More</a>","schema":{"type":"number","format":"float"}},{"name":"tag","in":"query","description":"Tag to associate with the request. <a href=\"/docs/tagging\">Learn More</a>","schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","description":"URL of audio file to transcribe.","default":"https://static.deepgram.com/examples/interview_speech-analytics.wav"},"RAW_BODY":{"type":"string","description":"Alternatively you can send raw binary audio data instead of a URL to hosted audio.</p><p> In this case, include a <code>Content-Type</code> header set to the audio <a href=\"https://developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types#audio_and_video_types\" target=\"_blank\">MIME type</a>.","format":"binary"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"metadata\":{\"transaction_key\":\"deprecated\",\"request_id\":\"4399e2a5-2b29-4e1e-9456-79043cc88d0a\",\"sha256\":\"362c1aae4da8c8952bd29fdd5eda25f7c3e92b040b5c31f741a0e0df7c061608\",\"created\":\"2023-05-30T14:17:36.953Z\",\"duration\":169.802,\"channels\":1,\"models\":[\"96a295ec-6336-43d5-b1cb-1e48b5e6d9a4\"],\"model_info\":{\"96a295ec-6336-43d5-b1cb-1e48b5e6d9a4\":{\"name\":\"general\",\"version\":\"2023-02-22.3\",\"arch\":\"base\"}}},\"results\":{\"channels\":[{\"alternatives\":[{\"transcript\":\"and jessica christina we are so proud you you're gonna do great today we'll be waiting for you here in a couple hours when you get home i'm gonna hand you over to stephanie now have a great great eva drew thank you so much and our pleasure working with you this morning and i'm working on getting that easy hatch open and i can report it's opened and s thank drew thank you so much on your dc take your power switches to bat stagger switch throws and expect a warning tone final steps where they begin the space copy check display switch functional tracy how important is this the the guiding it the isn't like seems like a lot to remember on your own absolutely take power e b one e two two switches to us o f yeah christina jessica have enough work with their hands and feet and their brain outside that it really helps to have someone like stephanie you power both off connector your from your dc and s the in the pouch kinda the interrupt so not only does stephanie thirty eight am central time a little ahead of schedule about twelve minutes but that gets us started on today's historic space walk morgan there wishing the crew luck the made pouch and dc cover closed copy e two\",\"confidence\":0.97326756,\"words\":[{\"word\":\"and\",\"start\":3.067842,\"end\":3.567842,\"confidence\":0.9807649},{\"word\":\"jessica\",\"start\":4.8208942,\"end\":5.2193155,\"confidence\":0.9766418},{\"word\":\"christina\",\"start\":5.538052,\"end\":5.777105,\"confidence\":0.9684238},{\"word\":\"we\",\"start\":6.095842,\"end\":6.4145784,\"confidence\":0.9931241},{\"word\":\"are\",\"start\":6.4145784,\"end\":6.892684,\"confidence\":0.9892484},{\"word\":\"so\",\"start\":6.892684,\"end\":7.1317363,\"confidence\":0.98863983},{\"word\":\"proud\",\"start\":7.1317363,\"end\":7.4504733,\"confidence\":0.99803776},{\"word\":\"you\",\"start\":7.4504733,\"end\":7.585,\"confidence\":0.94981164},{\"word\":\"you're\",\"start\":8.662,\"end\":8.901333,\"confidence\":0.9753204},{\"word\":\"gonna\",\"start\":8.901333,\"end\":9.140667,\"confidence\":0.96902674},{\"word\":\"do\",\"start\":9.140667,\"end\":9.300222,\"confidence\":0.97186357},{\"word\":\"great\",\"start\":9.300222,\"end\":9.619333,\"confidence\":0.9995757},{\"word\":\"today\",\"start\":9.619333,\"end\":9.699111,\"confidence\":0.9982907},{\"word\":\"we'll\",\"start\":9.938444,\"end\":10.098,\"confidence\":0.9700654},{\"word\":\"be\",\"start\":10.098,\"end\":10.257555,\"confidence\":0.99841106},{\"word\":\"waiting\",\"start\":10.257555,\"end\":10.496889,\"confidence\":0.99966013},{\"word\":\"for\",\"start\":10.496889,\"end\":10.656445,\"confidence\":0.9985917},{\"word\":\"you\",\"start\":10.656445,\"end\":10.816,\"confidence\":0.99760073},{\"word\":\"here\",\"start\":10.816,\"end\":10.975555,\"confidence\":0.9821878},{\"word\":\"in\",\"start\":10.975555,\"end\":11.055333,\"confidence\":0.98402536},{\"word\":\"a\",\"start\":11.055333,\"end\":11.214889,\"confidence\":0.99080414},{\"word\":\"couple\",\"start\":11.214889,\"end\":11.454222,\"confidence\":0.99982774},{\"word\":\"hours\",\"start\":11.454222,\"end\":11.693556,\"confidence\":0.9998036},{\"word\":\"when\",\"start\":11.693556,\"end\":11.773334,\"confidence\":0.9985682},{\"word\":\"you\",\"start\":11.773334,\"end\":11.932889,\"confidence\":0.99776137},{\"word\":\"get\",\"start\":11.932889,\"end\":12.092444,\"confidence\":0.9987956},{\"word\":\"home\",\"start\":12.092444,\"end\":12.252,\"confidence\":0.99989545},{\"word\":\"i'm\",\"start\":12.810444,\"end\":12.969999,\"confidence\":0.9968612},{\"word\":\"gonna\",\"start\":12.969999,\"end\":13.209333,\"confidence\":0.98595315},{\"word\":\"hand\",\"start\":13.209333,\"end\":13.289111,\"confidence\":0.9997478},{\"word\":\"you\",\"start\":13.289111,\"end\":13.448667,\"confidence\":0.99819785},{\"word\":\"over\",\"start\":13.448667,\"end\":13.528444,\"confidence\":0.9993493},{\"word\":\"to\",\"start\":13.528444,\"end\":13.688,\"confidence\":0.99777526},{\"word\":\"stephanie\",\"start\":13.847555,\"end\":14.246445,\"confidence\":0.9936746},{\"word\":\"now\",\"start\":14.246445,\"end\":14.326222,\"confidence\":0.98286617},{\"word\":\"have\",\"start\":15.860001,\"end\":16.02,\"confidence\":0.9736103},{\"word\":\"a\",\"start\":16.02,\"end\":16.18,\"confidence\":0.9868292},{\"word\":\"great\",\"start\":16.18,\"end\":16.58,\"confidence\":0.97828484},{\"word\":\"great\",\"start\":16.58,\"end\":16.82,\"confidence\":0.9986426},{\"word\":\"eva\",\"start\":16.900002,\"end\":17.380001,\"confidence\":0.81174904},{\"word\":\"drew\",\"start\":17.7,\"end\":17.86,\"confidence\":0.96023065},{\"word\":\"thank\",\"start\":18.02,\"end\":18.18,\"confidence\":0.99756265},{\"word\":\"you\",\"start\":18.18,\"end\":18.42,\"confidence\":0.9986058},{\"word\":\"so\",\"start\":18.42,\"end\":18.58,\"confidence\":0.99923587},{\"word\":\"much\",\"start\":18.58,\"end\":18.82,\"confidence\":0.9993931},{\"word\":\"and\",\"start\":19.300001,\"end\":19.460001,\"confidence\":0.8400723},{\"word\":\"our\",\"start\":19.460001,\"end\":19.7,\"confidence\":0.97326756},{\"word\":\"pleasure\",\"start\":19.7,\"end\":19.94,\"confidence\":0.9969959},{\"word\":\"working\",\"start\":19.94,\"end\":20.18,\"confidence\":0.9986186},{\"word\":\"with\",\"start\":20.18,\"end\":20.34,\"confidence\":0.99988437},{\"word\":\"you\",\"start\":20.34,\"end\":20.5,\"confidence\":0.99919075},{\"word\":\"this\",\"start\":20.5,\"end\":20.66,\"confidence\":0.99971086},{\"word\":\"morning\",\"start\":20.66,\"end\":21.060001,\"confidence\":0.99977344},{\"word\":\"and\",\"start\":21.060001,\"end\":21.460001,\"confidence\":0.99385434},{\"word\":\"i'm\",\"start\":21.460001,\"end\":21.54,\"confidence\":0.6949018},{\"word\":\"working\",\"start\":21.54,\"end\":21.78,\"confidence\":0.9936865},{\"word\":\"on\",\"start\":21.78,\"end\":21.94,\"confidence\":0.9969817},{\"word\":\"getting\",\"start\":21.94,\"end\":22.18,\"confidence\":0.9988746},{\"word\":\"that\",\"start\":22.18,\"end\":22.26,\"confidence\":0.94096375},{\"word\":\"easy\",\"start\":22.34,\"end\":22.66,\"confidence\":0.4179583},{\"word\":\"hatch\",\"start\":22.66,\"end\":22.900002,\"confidence\":0.80127984},{\"word\":\"open\",\"start\":22.900002,\"end\":23.14,\"confidence\":0.97084236},{\"word\":\"and\",\"start\":23.714266,\"end\":23.873285,\"confidence\":0.986055},{\"word\":\"i\",\"start\":23.952795,\"end\":24.032305,\"confidence\":0.8785544},{\"word\":\"can\",\"start\":24.032305,\"end\":24.350344,\"confidence\":0.78802234},{\"word\":\"report\",\"start\":24.350344,\"end\":24.850344,\"confidence\":0.7833075},{\"word\":\"it's\",\"start\":25.702011,\"end\":25.94054,\"confidence\":0.43321013},{\"word\":\"opened\",\"start\":25.94054,\"end\":26.25858,\"confidence\":0.939075},{\"word\":\"and\",\"start\":26.25858,\"end\":26.576618,\"confidence\":0.96032727},{\"word\":\"s\",\"start\":26.576618,\"end\":26.894657,\"confidence\":0.9379913},{\"word\":\"thank\",\"start\":28.961912,\"end\":29.120934,\"confidence\":0.9708335},{\"word\":\"drew\",\"start\":29.438972,\"end\":29.597992,\"confidence\":0.9918337},{\"word\":\"thank\",\"start\":30.07505,\"end\":30.23407,\"confidence\":0.9985739},{\"word\":\"you\",\"start\":30.23407,\"end\":30.472599,\"confidence\":0.9980198},{\"word\":\"so\",\"start\":30.472599,\"end\":30.631618,\"confidence\":0.99978584},{\"word\":\"much\",\"start\":30.631618,\"end\":30.870148,\"confidence\":0.9996094},{\"word\":\"on\",\"start\":38.223537,\"end\":38.383133,\"confidence\":0.928422},{\"word\":\"your\",\"start\":38.383133,\"end\":38.46293,\"confidence\":0.9850849},{\"word\":\"dc\",\"start\":38.622528,\"end\":39.122528,\"confidence\":0.5699869},{\"word\":\"take\",\"start\":39.83451,\"end\":39.99412,\"confidence\":0.99883646},{\"word\":\"your\",\"start\":39.99412,\"end\":40.233532,\"confidence\":0.9995505},{\"word\":\"power\",\"start\":40.233532,\"end\":40.712357,\"confidence\":0.99378115},{\"word\":\"switches\",\"start\":40.712357,\"end\":40.871964,\"confidence\":0.99915934},{\"word\":\"to\",\"start\":40.871964,\"end\":41.111374,\"confidence\":0.99873084},{\"word\":\"bat\",\"start\":41.111374,\"end\":41.27098,\"confidence\":0.7712309},{\"word\":\"stagger\",\"start\":41.749805,\"end\":42.148827,\"confidence\":0.98734725},{\"word\":\"switch\",\"start\":42.148827,\"end\":42.388237,\"confidence\":0.936786},{\"word\":\"throws\",\"start\":42.388237,\"end\":42.627647,\"confidence\":0.97849435},{\"word\":\"and\",\"start\":42.627647,\"end\":42.946865,\"confidence\":0.99815005},{\"word\":\"expect\",\"start\":42.946865,\"end\":43.106472,\"confidence\":0.99575573},{\"word\":\"a\",\"start\":43.106472,\"end\":43.26608,\"confidence\":0.9927196},{\"word\":\"warning\",\"start\":43.26608,\"end\":43.505493,\"confidence\":0.9998263},{\"word\":\"tone\",\"start\":43.505493,\"end\":43.744904,\"confidence\":0.99915254},{\"word\":\"final\",\"start\":64.42,\"end\":64.82,\"confidence\":0.99228233},{\"word\":\"steps\",\"start\":64.82,\"end\":65.06,\"confidence\":0.984963},{\"word\":\"where\",\"start\":65.06,\"end\":65.22,\"confidence\":0.49309498},{\"word\":\"they\",\"start\":65.22,\"end\":65.46,\"confidence\":0.96069825},{\"word\":\"begin\",\"start\":65.46,\"end\":65.54,\"confidence\":0.9870433},{\"word\":\"the\",\"start\":65.54,\"end\":65.7,\"confidence\":0.9080708},{\"word\":\"space\",\"start\":65.7,\"end\":65.86,\"confidence\":0.9228741},{\"word\":\"copy\",\"start\":66.1,\"end\":66.26,\"confidence\":0.8863323},{\"word\":\"check\",\"start\":66.659996,\"end\":67.06,\"confidence\":0.99407756},{\"word\":\"display\",\"start\":67.06,\"end\":67.3,\"confidence\":0.9952095},{\"word\":\"switch\",\"start\":67.3,\"end\":67.78,\"confidence\":0.9902741},{\"word\":\"functional\",\"start\":67.78,\"end\":68.1,\"confidence\":0.98246896},{\"word\":\"tracy\",\"start\":74.18979,\"end\":74.42948,\"confidence\":0.9510427},{\"word\":\"how\",\"start\":74.58928,\"end\":74.90887,\"confidence\":0.9951479},{\"word\":\"important\",\"start\":74.90887,\"end\":75.06866,\"confidence\":0.9719207},{\"word\":\"is\",\"start\":75.06866,\"end\":75.228455,\"confidence\":0.9141554},{\"word\":\"this\",\"start\":75.228455,\"end\":75.46814,\"confidence\":0.7431963},{\"word\":\"the\",\"start\":75.46814,\"end\":75.96814,\"confidence\":0.45991337},{\"word\":\"the\",\"start\":76.74649,\"end\":76.98618,\"confidence\":0.38744238},{\"word\":\"guiding\",\"start\":76.98618,\"end\":77.225876,\"confidence\":0.6274184},{\"word\":\"it\",\"start\":77.225876,\"end\":77.385666,\"confidence\":0.33466855},{\"word\":\"the\",\"start\":77.385666,\"end\":77.54546,\"confidence\":0.33121714},{\"word\":\"isn't\",\"start\":77.54546,\"end\":77.92,\"confidence\":0.50690776},{\"word\":\"like\",\"start\":78.199135,\"end\":78.35864,\"confidence\":0.34808892},{\"word\":\"seems\",\"start\":78.35864,\"end\":78.51815,\"confidence\":0.9660647},{\"word\":\"like\",\"start\":78.51815,\"end\":78.677666,\"confidence\":0.99579394},{\"word\":\"a\",\"start\":78.677666,\"end\":78.83717,\"confidence\":0.90933007},{\"word\":\"lot\",\"start\":78.83717,\"end\":78.99668,\"confidence\":0.3617743},{\"word\":\"to\",\"start\":78.99668,\"end\":79.15619,\"confidence\":0.9349748},{\"word\":\"remember\",\"start\":79.15619,\"end\":79.39545,\"confidence\":0.9949634},{\"word\":\"on\",\"start\":79.39545,\"end\":79.554955,\"confidence\":0.999759},{\"word\":\"your\",\"start\":79.554955,\"end\":79.63471,\"confidence\":0.99864084},{\"word\":\"own\",\"start\":79.63471,\"end\":79.71446,\"confidence\":0.9977324},{\"word\":\"absolutely\",\"start\":80.27274,\"end\":80.67152,\"confidence\":0.99206287},{\"word\":\"take\",\"start\":81.86783,\"end\":82.186844,\"confidence\":0.995337},{\"word\":\"power\",\"start\":82.186844,\"end\":82.58561,\"confidence\":0.998092},{\"word\":\"e\",\"start\":82.58561,\"end\":82.66537,\"confidence\":0.9916027},{\"word\":\"b\",\"start\":82.66537,\"end\":82.824875,\"confidence\":0.30798858},{\"word\":\"one\",\"start\":82.824875,\"end\":83.14389,\"confidence\":0.9905143},{\"word\":\"e\",\"start\":83.14389,\"end\":83.462906,\"confidence\":0.9853764},{\"word\":\"two\",\"start\":83.462906,\"end\":83.70217,\"confidence\":0.9943639},{\"word\":\"two\",\"start\":84.10094,\"end\":84.57947,\"confidence\":0.9592417},{\"word\":\"switches\",\"start\":84.57947,\"end\":84.738976,\"confidence\":0.8348126},{\"word\":\"to\",\"start\":84.738976,\"end\":84.89848,\"confidence\":0.9771891},{\"word\":\"us\",\"start\":84.89848,\"end\":85.2175,\"confidence\":0.62448585},{\"word\":\"o\",\"start\":85.2175,\"end\":85.61627,\"confidence\":0.8317143},{\"word\":\"f\",\"start\":85.61627,\"end\":85.77578,\"confidence\":0.557801},{\"word\":\"yeah\",\"start\":86.2543,\"end\":86.41381,\"confidence\":0.6751174},{\"word\":\"christina\",\"start\":86.73283,\"end\":87.21135,\"confidence\":0.9418222},{\"word\":\"jessica\",\"start\":87.865,\"end\":88.265,\"confidence\":0.99907625},{\"word\":\"have\",\"start\":88.265,\"end\":88.505,\"confidence\":0.9980051},{\"word\":\"enough\",\"start\":88.505,\"end\":88.745,\"confidence\":0.99988973},{\"word\":\"work\",\"start\":88.745,\"end\":89.245,\"confidence\":0.99902797},{\"word\":\"with\",\"start\":89.305,\"end\":89.465004,\"confidence\":0.9996891},{\"word\":\"their\",\"start\":89.465004,\"end\":89.625,\"confidence\":0.99195963},{\"word\":\"hands\",\"start\":89.625,\"end\":89.945,\"confidence\":0.99500436},{\"word\":\"and\",\"start\":89.945,\"end\":90.105,\"confidence\":0.99650675},{\"word\":\"feet\",\"start\":90.105,\"end\":90.265,\"confidence\":0.99773896},{\"word\":\"and\",\"start\":90.425,\"end\":90.505,\"confidence\":0.712047},{\"word\":\"their\",\"start\":90.505,\"end\":90.745,\"confidence\":0.9381194},{\"word\":\"brain\",\"start\":90.745,\"end\":91.245,\"confidence\":0.90095526},{\"word\":\"outside\",\"start\":91.305,\"end\":91.625,\"confidence\":0.99975485},{\"word\":\"that\",\"start\":91.625,\"end\":91.865,\"confidence\":0.9968437},{\"word\":\"it\",\"start\":91.865,\"end\":92.105,\"confidence\":0.99866056},{\"word\":\"really\",\"start\":92.105,\"end\":92.345,\"confidence\":0.9999037},{\"word\":\"helps\",\"start\":92.345,\"end\":92.585,\"confidence\":0.9914226},{\"word\":\"to\",\"start\":92.585,\"end\":92.745,\"confidence\":0.99578434},{\"word\":\"have\",\"start\":92.745,\"end\":92.985,\"confidence\":0.9978612},{\"word\":\"someone\",\"start\":92.985,\"end\":93.305,\"confidence\":0.99699485},{\"word\":\"like\",\"start\":93.385,\"end\":93.545,\"confidence\":0.9961845},{\"word\":\"stephanie\",\"start\":93.705,\"end\":94.025,\"confidence\":0.99350196},{\"word\":\"you\",\"start\":94.265,\"end\":94.505,\"confidence\":0.41569388},{\"word\":\"power\",\"start\":94.505,\"end\":94.825,\"confidence\":0.9367577},{\"word\":\"both\",\"start\":94.825,\"end\":95.145004,\"confidence\":0.9846039},{\"word\":\"off\",\"start\":95.145004,\"end\":95.305,\"confidence\":0.9451218},{\"word\":\"connector\",\"start\":111.46,\"end\":111.62,\"confidence\":0.60397935},{\"word\":\"your\",\"start\":111.62,\"end\":111.700005,\"confidence\":0.9747545},{\"word\":\"from\",\"start\":112.340004,\"end\":112.5,\"confidence\":0.9991009},{\"word\":\"your\",\"start\":112.5,\"end\":112.58,\"confidence\":0.99836177},{\"word\":\"dc\",\"start\":112.740005,\"end\":113.240005,\"confidence\":0.996846},{\"word\":\"and\",\"start\":113.46,\"end\":113.700005,\"confidence\":0.9974885},{\"word\":\"s\",\"start\":113.700005,\"end\":113.86,\"confidence\":0.9954068},{\"word\":\"the\",\"start\":113.86,\"end\":114.020004,\"confidence\":0.26444715},{\"word\":\"in\",\"start\":114.5,\"end\":114.66,\"confidence\":0.96549934},{\"word\":\"the\",\"start\":114.66,\"end\":114.82,\"confidence\":0.99744415},{\"word\":\"pouch\",\"start\":114.82,\"end\":115.060005,\"confidence\":0.9995932},{\"word\":\"kinda\",\"start\":118.51432,\"end\":118.832504,\"confidence\":0.5401386},{\"word\":\"the\",\"start\":118.832504,\"end\":118.99159,\"confidence\":0.4388202},{\"word\":\"interrupt\",\"start\":118.99159,\"end\":119.15069,\"confidence\":0.36033186},{\"word\":\"so\",\"start\":119.78705,\"end\":120.02569,\"confidence\":0.9887406},{\"word\":\"not\",\"start\":120.02569,\"end\":120.18478,\"confidence\":0.9947384},{\"word\":\"only\",\"start\":120.18478,\"end\":120.50296,\"confidence\":0.98287934},{\"word\":\"does\",\"start\":120.50296,\"end\":120.582504,\"confidence\":0.9591305},{\"word\":\"stephanie\",\"start\":120.74159,\"end\":121.218864,\"confidence\":0.9893464},{\"word\":\"thirty\",\"start\":142.34341,\"end\":142.66159,\"confidence\":0.9927779},{\"word\":\"eight\",\"start\":142.66159,\"end\":142.90022,\"confidence\":0.99224406},{\"word\":\"am\",\"start\":143.05933,\"end\":143.29796,\"confidence\":0.954241},{\"word\":\"central\",\"start\":143.29796,\"end\":143.53659,\"confidence\":0.9984043},{\"word\":\"time\",\"start\":143.53659,\"end\":143.61613,\"confidence\":0.9920243},{\"word\":\"a\",\"start\":143.77522,\"end\":143.85478,\"confidence\":0.96547014},{\"word\":\"little\",\"start\":143.85478,\"end\":144.17296,\"confidence\":0.9974809},{\"word\":\"ahead\",\"start\":144.17296,\"end\":144.2525,\"confidence\":0.9950151},{\"word\":\"of\",\"start\":144.2525,\"end\":144.49113,\"confidence\":0.95926064},{\"word\":\"schedule\",\"start\":144.49113,\"end\":144.80933,\"confidence\":0.9957034},{\"word\":\"about\",\"start\":144.80933,\"end\":145.1275,\"confidence\":0.99563015},{\"word\":\"twelve\",\"start\":145.1275,\"end\":145.36613,\"confidence\":0.99731904},{\"word\":\"minutes\",\"start\":145.36613,\"end\":145.60478,\"confidence\":0.9990018},{\"word\":\"but\",\"start\":145.76387,\"end\":146.26387,\"confidence\":0.9903672},{\"word\":\"that\",\"start\":146.655,\"end\":146.895,\"confidence\":0.9988097},{\"word\":\"gets\",\"start\":146.895,\"end\":147.05501,\"confidence\":0.98660916},{\"word\":\"us\",\"start\":147.05501,\"end\":147.455,\"confidence\":0.9987956},{\"word\":\"started\",\"start\":147.455,\"end\":147.77501,\"confidence\":0.9996424},{\"word\":\"on\",\"start\":147.77501,\"end\":148.015,\"confidence\":0.99905664},{\"word\":\"today's\",\"start\":148.015,\"end\":148.495,\"confidence\":0.99424577},{\"word\":\"historic\",\"start\":148.495,\"end\":148.815,\"confidence\":0.99748397},{\"word\":\"space\",\"start\":148.815,\"end\":149.05501,\"confidence\":0.9847166},{\"word\":\"walk\",\"start\":149.05501,\"end\":149.295,\"confidence\":0.5389857},{\"word\":\"morgan\",\"start\":154.58609,\"end\":154.90443,\"confidence\":0.937771},{\"word\":\"there\",\"start\":154.90443,\"end\":155.40443,\"confidence\":0.9944398},{\"word\":\"wishing\",\"start\":155.54114,\"end\":155.77989,\"confidence\":0.80184084},{\"word\":\"the\",\"start\":155.77989,\"end\":155.93907,\"confidence\":0.9284483},{\"word\":\"crew\",\"start\":155.93907,\"end\":156.09825,\"confidence\":0.9983191},{\"word\":\"luck\",\"start\":156.09825,\"end\":156.17784,\"confidence\":0.76250243},{\"word\":\"the\",\"start\":156.4166,\"end\":156.57578,\"confidence\":0.25588587},{\"word\":\"made\",\"start\":156.57578,\"end\":157.07578,\"confidence\":0.62067413},{\"word\":\"pouch\",\"start\":157.21248,\"end\":157.53082,\"confidence\":0.95132434},{\"word\":\"and\",\"start\":157.53082,\"end\":157.61041,\"confidence\":0.62313336},{\"word\":\"dc\",\"start\":157.69,\"end\":158.16753,\"confidence\":0.66087174},{\"word\":\"cover\",\"start\":158.16753,\"end\":158.48589,\"confidence\":0.97577643},{\"word\":\"closed\",\"start\":158.48589,\"end\":158.64505,\"confidence\":0.37828633},{\"word\":\"copy\",\"start\":162.7236,\"end\":162.9633,\"confidence\":0.99967265},{\"word\":\"e\",\"start\":163.04321,\"end\":163.36282,\"confidence\":0.7775096},{\"word\":\"two\",\"start\":163.36282,\"end\":163.52263,\"confidence\":0.67291963}]}]}]}}"}},"schema":{"type":"object","properties":{"metadata":{"type":"object","properties":{"transaction_key":{"type":"string","example":"deprecated"},"request_id":{"type":"string","example":"4399e2a5-2b29-4e1e-9456-79043cc88d0a"},"sha256":{"type":"string","example":"362c1aae4da8c8952bd29fdd5eda25f7c3e92b040b5c31f741a0e0df7c061608"},"created":{"type":"string","example":"2023-05-30T14:17:36.953Z"},"duration":{"type":"number","example":169.802,"default":0},"channels":{"type":"integer","example":1,"default":0},"models":{"type":"array","items":{"type":"string","example":"96a295ec-6336-43d5-b1cb-1e48b5e6d9a4"}},"model_info":{"type":"object","properties":{"96a295ec-6336-43d5-b1cb-1e48b5e6d9a4":{"type":"object","properties":{"name":{"type":"string","example":"general"},"version":{"type":"string","example":"2023-02-22.3"},"arch":{"type":"string","example":"base"}}}}}}},"results":{"type":"object","properties":{"channels":{"type":"array","items":{"type":"object","properties":{"alternatives":{"type":"array","items":{"type":"object","properties":{"transcript":{"type":"string","example":"and jessica christina we are so proud you you're gonna do great today we'll be waiting for you here in a couple hours when you get home i'm gonna hand you over to stephanie now have a great great eva drew thank you so much and our pleasure working with you this morning and i'm working on getting that easy hatch open and i can report it's opened and s thank drew thank you so much on your dc take your power switches to bat stagger switch throws and expect a warning tone final steps where they begin the space copy check display switch functional tracy how important is this the the guiding it the isn't like seems like a lot to remember on your own absolutely take power e b one e two two switches to us o f yeah christina jessica have enough work with their hands and feet and their brain outside that it really helps to have someone like stephanie you power both off connector your from your dc and s the in the pouch kinda the interrupt so not only does stephanie thirty eight am central time a little ahead of schedule about twelve minutes but that gets us started on today's historic space walk morgan there wishing the crew luck the made pouch and dc cover closed copy e two"},"confidence":{"type":"number","example":0.97326756,"default":0},"words":{"type":"array","items":{"type":"object","properties":{"word":{"type":"string","example":"and"},"start":{"type":"number","example":3.067842,"default":0},"end":{"type":"number","example":3.567842,"default":0},"confidence":{"type":"number","example":0.9807649,"default":0}}}}}}}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"err_code\":\"Bad Request\",\n \t\"err_msg\":\"Content-type was application/json, but we could not process the JSON payload.\",\n  \"request_id\":\"4399e2a5-2b29-4e1e-9456-79043cc88d0a\"\n}"}},"schema":{"type":"object","properties":{"err_code":{"type":"string","example":"Bad Request"},"err_msg":{"type":"string","example":"Content-type was application/json, but we could not process the JSON payload."},"request_id":{"type":"string","example":"4399e2a5-2b29-4e1e-9456-79043cc88d0a"}}}}}},"401":{"description":"401","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"err_code\": \"INVALID_AUTH\",\n  \"err_msg\": \"Invalid credentials.\",\n  \"request_id\": \"4399e2a5-2b29-4e1e-9456-79043cc88d0a\"\n}"}},"schema":{"type":"object","properties":{"err_code":{"type":"string","example":"INVALID_AUTH"},"err_msg":{"type":"string","example":"Invalid credentials."},"request_id":{"type":"string","example":"4399e2a5-2b29-4e1e-9456-79043cc88d0a"}}}}}},"402":{"description":"402","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"err_code\": \"ASR_PAYMENT_REQUIRED\",\n  \"err_msg\": \"Project does not have enough credits for an ASR request and does not have an overage agreement.\",\n  \"request_id\": \"4399e2a5-2b29-4e1e-9456-79043cc88d0a\"\n}"}},"schema":{"type":"object","properties":{"err_code":{"type":"string","example":"ASR_PAYMENT_REQUIRED"},"err_msg":{"type":"string","example":"Project does not have enough credits for an ASR request and does not have an overage agreement."},"request_id":{"type":"string","example":"4399e2a5-2b29-4e1e-9456-79043cc88d0a"}}}}}}},"deprecated":false}},"/projects/{project_id}/members":{"get":{"summary":"Get Members","description":"Retrieves account objects for all of the accounts in the specified project","operationId":"get-members","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to get members. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"members\": [\n    {\n      \"member_id\": \"uuid\",\n      \"first_name\": \"string\",\n      \"last_name\": \"string\",\n      \"scopes\": [\n        \"string\"\n      ],\n      \"email\": \"string\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"members":{"type":"array","items":{"type":"object","properties":{"member_id":{"type":"string","example":"uuid"},"first_name":{"type":"string","example":"string"},"last_name":{"type":"string","example":"string"},"scopes":{"type":"array","items":{"type":"string","example":"string"}},"email":{"type":"string","example":"string"}}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"err_code\": \"PROJECT_NOT_FOUND\",\n  \"err_msg\": \"Project not found.\"\n}"}},"schema":{"type":"object","properties":{"err_code":{"type":"string","example":"PROJECT_NOT_FOUND"},"err_msg":{"type":"string","example":"Project not found."}}}}}}},"deprecated":false}},"/projects/{project_id}/members/{member_id}":{"delete":{"summary":"Remove Member","description":"Removes the specified account from the specified project","operationId":"remove-member","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to get members. (UUID)","schema":{"type":"string"},"required":true},{"name":"member_id","in":"path","description":"Unique identifier of the account that you want to remove. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"err_code\": \"PROJECT_NOT_FOUND\",\n  \"err_msg\": \"Project not found.\"\n}"}},"schema":{"type":"object","properties":{"err_code":{"type":"string","example":"PROJECT_NOT_FOUND"},"err_msg":{"type":"string","example":"Project not found."}}}}}}},"deprecated":false}},"/projects/{project_id}/keys":{"get":{"summary":"List Keys","description":"Retrieves keys for the specified project","operationId":"list-keys","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to get keys. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"api_keys\":[{\"member\":{\"member_id\":\"c74f9a10-ea40-4585-951e-88e63c35108f\",\"email\":\"devrel@deepgram.com\",\"first_name\":\"Deepgram\",\"last_name\":\"Team\"},\"api_key\":{\"api_key_id\":\"17c8886a-b58f-4c15-a7eb-9e52f2cf26ce\",\"comment\":\"Member API key\",\"scopes\":[\"member\"],\"tags\":[\"user\"],\"created\":\"2021-06-01T14:03:35.815832Z\"}},{\"member\":{\"member_id\":\"b74f9a00-ea40-4585-951e-88e63c35108f\",\"email\":\"devrel@deepgram.com\",\"first_name\":\"Scott\",\"last_name\":\"Stephenson\"},\"api_key\":{\"api_key_id\":\"15f6022a-d188-4317-a3dd-4340fdeddb75\",\"comment\":\"Management API key\",\"scopes\":[\"owner\"],\"created\":\"2021-05-30T12:24:33.564224Z\"}}]}"}},"schema":{"type":"object","properties":{"api_keys":{"type":"array","items":{"type":"object","properties":{"member":{"type":"object","properties":{"member_id":{"type":"string","example":"c74f9a10-ea40-4585-951e-88e63c35108f"},"email":{"type":"string","example":"devrel@deepgram.com"},"first_name":{"type":"string","example":"Deepgram"},"last_name":{"type":"string","example":"Team"}}},"api_key":{"type":"object","properties":{"api_key_id":{"type":"string","example":"17c8886a-b58f-4c15-a7eb-9e52f2cf26ce"},"comment":{"type":"string","example":"Member API key"},"scopes":{"type":"array","items":{"type":"string","example":"member"}},"tags":{"type":"array","items":{"type":"string","example":"user"}},"created":{"type":"string","example":"2021-06-01T14:03:35.815832Z"}}}}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}}}}},"deprecated":false},"post":{"summary":"Create Key","description":"Creates a new key in the specified project","operationId":"create-key","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to create a key.(UUID)","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["comment","scopes"],"properties":{"comment":{"type":"string","description":"Comments associated with the key you would like to create. Must be between 1 and 128 characters long, not including whitespace."},"scopes":{"type":"array","description":"Scopes for the key you would like to create.","items":{"type":"string"}},"tags":{"type":"array","description":"Tags associated with the key you would like to create.","items":{"type":"string"}},"expiration_date":{"type":"string","description":"<p>Date on which the key you would like to create should expire.</p><p>For each key, you may specify either an <strong><code>expiration_date</strong></code> or a <strong><code>time_to_live_in_seconds</strong></code>, but not both.</p>","format":"date"},"time_to_live_in_seconds":{"type":"integer","description":"<p>Length of time (in seconds) during which the key you would like to create will remain valid.</p> <p>For each key, you may specify either an <strong><code>expiration_date</strong></code> or a <strong><code>time_to_live_in_seconds<strong><code>, but not both.</p>","format":"int32"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":""},"On-prem API key example response":{"value":"{\n  \"api_key_id\": \"b6c318f0-bc94-40b3-83a9-7f6898cd5500\",\n  \"key\": \"1bc4a5e63f8425c9fd102539739923204243b9ce\",\n  \"comment\": \"Test On-prem API Key with curl\",\n  \"scopes\": [\n    \"member\",\n    \"onprem:product:api\",\n    \"onprem:product:engine\",\n    \"onprem:product:license-proxy\"\n  ],\n  \"created\": \"2023-06-27T16:59:46.572660Z\"\n}"}},"schema":{"type":"object","properties":{"api_key_id":{"type":"string","example":"b6c318f0-bc94-40b3-83a9-7f6898cd5500"},"key":{"type":"string","example":"1bc4a5e63f8425c9fd102539739923204243b9ce"},"comment":{"type":"string","example":"Test On-prem API Key with curl"},"scopes":{"type":"array","items":{"type":"string","example":"member"}},"created":{"type":"string","example":"2023-06-27T16:59:46.572660Z"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}}}}},"deprecated":false}},"/projects/{project_id}/keys/{key_id}":{"get":{"summary":"Get Key","description":"Retrieves basic information about the specified key","operationId":"get-key","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to get keys. (UUID)","schema":{"type":"string"},"required":true},{"name":"key_id","in":"path","description":"Unique identifier of the key that you want to retrieve. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"member\": {\n    \"member_id\": \"b74f9a00-ea40-4585-951e-88e63c35108f\",\n    \"email\": \"devrel@deepgram.com\",\n    \"first_name\": \"Deepgram\",\n    \"last_name\": \"Team\"\n  },\n  \"api_key\": {\n    \"api_key_id\": \"17c8886a-b58f-4c15-a7eb-9e52f2cf26ce\",\n    \"comment\": \"Member API key\",\n    \"scopes\": [\n      \"member\"\n    ],\n    \"tags\": [\n      \"user\"\n    ],\n    \"created\": \"2021-06-01T14:03:35.815832Z\"\n  }\n}"}},"schema":{"type":"object","properties":{"member":{"type":"object","properties":{"member_id":{"type":"string","example":"b74f9a00-ea40-4585-951e-88e63c35108f"},"email":{"type":"string","example":"devrel@deepgram.com"},"first_name":{"type":"string","example":"Deepgram"},"last_name":{"type":"string","example":"Team"}}},"api_key":{"type":"object","properties":{"api_key_id":{"type":"string","example":"17c8886a-b58f-4c15-a7eb-9e52f2cf26ce"},"comment":{"type":"string","example":"Member API key"},"scopes":{"type":"array","items":{"type":"string","example":"member"}},"tags":{"type":"array","items":{"type":"string","example":"user"}},"created":{"type":"string","example":"2021-06-01T14:03:35.815832Z"}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}}}}},"deprecated":false},"delete":{"summary":"Delete Key","description":"Deletes the specified key in the specified project","operationId":"delete-key","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project that contains the key that you want to delete. (UUID)","schema":{"type":"string"},"required":true},{"name":"key_id","in":"path","description":"Unique identifier of the key that you want to delete. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\": \"string\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"string"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}}}}},"deprecated":false}},"/projects":{"get":{"summary":"Get Projects","description":"Retrieves basic information about the projects associated with the API key","operationId":"get-projects","responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\"projects\":[{\"project_id\":\"2c10a921-39ba-4965-9a0d-a0c9f1dc71b8\",\"name\":\"developers@deepgram.com's Project\"}]}"}},"schema":{"type":"object","properties":{"projects":{"type":"array","items":{"type":"object","properties":{"project_id":{"type":"string","example":"2c10a921-39ba-4965-9a0d-a0c9f1dc71b8"},"name":{"type":"string","example":"developers@deepgram.com's Project"}}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}}},"deprecated":false}},"/projects/{project_id}":{"get":{"summary":"Get Project","description":"Retrieves information about the specified project","operationId":"get-project","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to retrieve information. (UUID)","schema":{"type":"string","default":"b10c3343-dc0e-4cec-9fae-224e671290e7"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"project_id\": \"uuid\",\n  \"name\": \"string\",\n  \"company\": \"string\"\n}"}},"schema":{"type":"object","properties":{"project_id":{"type":"string","example":"uuid"},"name":{"type":"string","example":"string"},"company":{"type":"string","example":"string"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}},"text/plain":{"examples":{"Result":{"value":"UUID parsing failed: invalid length: expected length 32 for simple format, found X"}}}}}},"deprecated":false},"patch":{"summary":"Update Project","description":"Updates the specified project","operationId":"update-project","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project that you want to update. (UUID)","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Update the project name."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\": \"string\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"string"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"INVALID_JSON\",\n  \"message\": \"Invalid JSON submitted.\",\n  \"details\": \"Json deserialize error: EOF while parsing a value at line 1 column 0\",\n  \"request_id\": \"8bd53f38-9db5-48a1-a24c-921e81a5ecd4\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"INVALID_JSON"},"message":{"type":"string","example":"Invalid JSON submitted."},"details":{"type":"string","example":"Json deserialize error: EOF while parsing a value at line 1 column 0"},"request_id":{"type":"string","example":"8bd53f38-9db5-48a1-a24c-921e81a5ecd4"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"INSUFFICIENT_PERMISSIONS\",\"message\":\"Your account does not have the required scope to perform that action for this project.\",\"details\":\"Check that your account has the 'project:write:settings' scope for this project.\",\"request_id\":\"003d93f1-648c-46cc-82c4-00eed1a7d4e2\"}"}},"schema":{"oneOf":[{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}},{"type":"object","properties":{"category":{"type":"string","example":"INSUFFICIENT_PERMISSIONS"},"message":{"type":"string","example":"Your account does not have the required scope to perform that action for this project."},"details":{"type":"string","example":"Check that your account has the 'project:write:settings' scope for this project."},"request_id":{"type":"string","example":"003d93f1-648c-46cc-82c4-00eed1a7d4e2"}}}]}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}},"text/plain":{"examples":{"Result":{"value":"UUID parsing failed: invalid length: expected length 32 for simple format, found X"}}}}}},"deprecated":false},"delete":{"summary":"Delete Project","description":"Deletes the specified project","operationId":"delete-project","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project that you want to delete. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"INSUFFICIENT_PERMISSIONS\",\"message\":\"Your account does not have the required scope to perform that action for this project.\",\"details\":\"Check that your account has the 'project:write:destroy' scope for this project.\",\"request_id\":\"28cc6f81-7259-48c4-a19a-021a2ef6e47b\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"INSUFFICIENT_PERMISSIONS"},"message":{"type":"string","example":"Your account does not have the required scope to perform that action for this project."},"details":{"type":"string","example":"Check that your account has the 'project:write:destroy' scope for this project."},"request_id":{"type":"string","example":"28cc6f81-7259-48c4-a19a-021a2ef6e47b"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}},"text/plain":{"examples":{"Result":{"value":"UUID parsing failed: invalid length: expected length 32 for simple format, found X"}}}}}},"deprecated":false}},"/projects/{project_id}/members/{member_id}/scopes":{"get":{"summary":"Get Member Scopes","description":"Lists the specified project scopes assigned to the specified member","operationId":"get-member-scopes","parameters":[{"name":"project_id","in":"path","description":"Identifier of the project that contains the member for whom you want to get scopes. (UUID)","schema":{"type":"string"},"required":true},{"name":"member_id","in":"path","description":"Unique identifier of the member for whom you want to get scopes.","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"scopes\": [\"string\"]\n}"}},"schema":{"type":"object","properties":{"scopes":{"type":"array","items":{"type":"string","example":"string"}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}}}}},"deprecated":false},"put":{"summary":"Update Scope","description":"Updates the specified project scopes assigned to the specified member.","operationId":"update-scope","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project that contains the specified member and scope that you want to update. (UUID)","schema":{"type":"string"},"required":true},{"name":"member_id","in":"path","description":"Unique identifier of the member for whom you want to update the scope. (UUID)","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"scope":{"type":"string","description":"Scope for the specified member and project."}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"message\": \"string\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"string"}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}}}}},"deprecated":false}},"/projects/{project_id}/leave":{"delete":{"summary":"Leave Project","description":"Removes the authenticated account from the specified project","operationId":"leave-project","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project from which you want to remove the authenticated account. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"message\": \"string\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"string"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}}},"deprecated":false}},"/projects/{project_id}/requests":{"get":{"summary":"Get All Requests","description":"Generates a list of requests sent to the Deepgram API","operationId":"get-all-requests","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to retrieve requests. (UUID)","schema":{"type":"string"},"required":true},{"name":"start","in":"query","description":"Start date of the requested date range. Formats accepted are YYYY-MM-DD, YYYY-MM-DDTHH:MM:SS, or YYYY-MM-DDTHH:MM:SS+HH:MM.","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","description":"End date of the requested date range. Formats accepted are YYYY-MM-DD, YYYY-MM-DDTHH:MM:SS, or YYYY-MM-DDTHH:MM:SS+HH:MM.","schema":{"type":"string","format":"date"}},{"name":"limit","in":"query","description":"Number of results to return per page. Default 10. Range [1,100].","schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","description":"Status of requests to return. Enables you to filter requests depending on whether they have succeeded or failed. If not specified, returns requests with all statuses.","schema":{"type":"string","enum":[null,"succeeded","failed"],"default":null}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"page\": 0,\n\t\"limit\": 0,\n\t\"requests\": [\n\t\t{\n\t\t\t\"request_id\": \"uuid\",\n\t\t\t\"created\": \"YYYY-MM-DDThh:mm:ss.sTZD\",\n\t\t\t\"path\": \"string\",\n\t\t\t\"api_key_id\": \"uuid\",\n\t\t\t\"response\": {\n\t\t\t\t\"details\": {\n\t\t\t\t\t\"usd\": 0,\n\t\t\t\t\t\"duration\": 0,\n\t\t\t\t\t\"total_audio\": 0,\n\t\t\t\t\t\"channels\": 0,\n\t\t\t\t\t\"streams\": 0,\n\t\t\t\t\t\"models\": [\"string\"],\n\t\t\t\t\t\"method\": \"string\",\n\t\t\t\t\t\"tags\": [\"string\"],\n\t\t\t\t\t\"features\": [\"string\"],\n\t\t\t\t\t\"config\": {\n\t\t\t\t\t\t\"alternatives\": 0,\n\t\t\t\t\t\t\"diarize\": true,\n\t\t\t\t\t\t\"keywords\": [\"string\"],\n\t\t\t\t\t\t\"language\": \"string\",\n\t\t\t\t\t\t\"model\": \"string\",\n\t\t\t\t\t\t\"multichannel\": true,\n\t\t\t\t\t\t\"ner\": true,\n\t\t\t\t\t\t\"numerals\": true,\n\t\t\t\t\t\t\"profanity_filter\": false,\n\t\t\t\t\t\t\"punctuate\": true,\n\t\t\t\t\t\t\"redact\": [\"string\"],\n\t\t\t\t\t\t\"search\": [\"string\"],\n\t\t\t\t\t\t\"utterances\": true\n\t\t\t\t\t}\n\t\t\t\t},\n\t\t\t\t\"code\": 0,\n\t\t\t\t\"completed\": \"YYYY-MM-DDThh:mm:ss.sTZD\"\n\t\t\t},\n\t\t\t\"callback\": {\n\t\t\t\t\"attempts\": 0,\n\t\t\t\t\"code\": 0,\n\t\t\t\t\"completed\": \"YYYY-MM-DDThh:mm:ss.sTZD\"\n\t\t\t}\n\t\t}\n\t]\n}"}},"schema":{"type":"object","properties":{"page":{"type":"integer","example":0,"default":0},"limit":{"type":"integer","example":0,"default":0},"requests":{"type":"array","items":{"type":"object","properties":{"request_id":{"type":"string","example":"uuid"},"created":{"type":"string","example":"YYYY-MM-DDThh:mm:ss.sTZD"},"path":{"type":"string","example":"string"},"api_key_id":{"type":"string","example":"uuid"},"response":{"type":"object","properties":{"details":{"type":"object","properties":{"usd":{"type":"integer","example":0,"default":0},"duration":{"type":"integer","example":0,"default":0},"total_audio":{"type":"integer","example":0,"default":0},"channels":{"type":"integer","example":0,"default":0},"streams":{"type":"integer","example":0,"default":0},"models":{"type":"array","items":{"type":"string","example":"string"}},"method":{"type":"string","example":"string"},"tags":{"type":"array","items":{"type":"string","example":"string"}},"features":{"type":"array","items":{"type":"string","example":"string"}},"config":{"type":"object","properties":{"alternatives":{"type":"integer","example":0,"default":0},"diarize":{"type":"boolean","example":true,"default":true},"keywords":{"type":"array","items":{"type":"string","example":"string"}},"language":{"type":"string","example":"string"},"model":{"type":"string","example":"string"},"multichannel":{"type":"boolean","example":true,"default":true},"ner":{"type":"boolean","example":true,"default":true},"numerals":{"type":"boolean","example":true,"default":true},"profanity_filter":{"type":"boolean","example":false,"default":true},"punctuate":{"type":"boolean","example":true,"default":true},"redact":{"type":"array","items":{"type":"string","example":"string"}},"search":{"type":"array","items":{"type":"string","example":"string"}},"utterances":{"type":"boolean","example":true,"default":true}}}}},"code":{"type":"integer","example":0,"default":0},"completed":{"type":"string","example":"YYYY-MM-DDThh:mm:ss.sTZD"}}},"callback":{"type":"object","properties":{"attempts":{"type":"integer","example":0,"default":0},"code":{"type":"integer","example":0,"default":0},"completed":{"type":"string","example":"YYYY-MM-DDThh:mm:ss.sTZD"}}}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}}},"deprecated":false}},"/projects/{project_id}/requests/{request_id}":{"get":{"summary":"Get Request","description":"Retrieves the details of the specified request sent to the Deepgram API for the specified project","operationId":"get-request","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to retrieve the specified request. (UUID)","schema":{"type":"string"},"required":true},{"name":"request_id","in":"path","description":"Unique identifier of the request that you want to retrieve. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"request_id\": \"uuid\",\n\t\"created\": \"YYYY-MM-DDThh:mm:ss.sTZD\",\n\t\"path\": \"string\",\n\t\"api_key_id\": \"uuid\",\n\t\"response\": {\n\t\t\"details\": {\n\t\t\t\"usd\": 0,\n\t\t\t\"duration\": 0,\n\t\t\t\"total_audio\": 0,\n\t\t\t\"channels\": 0,\n\t\t\t\"streams\": 0,\n\t\t\t\"models\": [\"string\"],\n\t\t\t\"method\": \"string\",\n\t\t\t\"tags\": [\"string\"],\n\t\t\t\"features\": [\"string\"],\n\t\t\t\"config\": {\n\t\t\t\t\"alternatives\": 0,\n\t\t\t\t\"callback\": \"string\",\n\t\t\t\t\"diarize\": true,\n\t\t\t\t\"keywords\": [\"string\"],\n\t\t\t\t\"language\": \"string\",\n\t\t\t\t\"model\": \"string\",\n\t\t\t\t\"multichannel\": true,\n\t\t\t\t\"ner\": true,\n\t\t\t\t\"numerals\": true,\n\t\t\t\t\"profanity_filter\": true,\n\t\t\t\t\"punctuate\": true,\n\t\t\t\t\"redact\": [\"string\"],\n\t\t\t\t\"search\": [\"string\"],\n\t\t\t\t\"utterances\": true\n\t\t\t}\n\t\t},\n\t\t\"code\": 0,\n\t\t\"completed\": \"YYYY-MM-DDThh:mm:ss.sTZD\"\n\t},\n\t\"callback\": {\n\t\t\"attempts\": 0,\n\t\t\"code\": 0,\n\t\t\"completed\": \"YYYY-MM-DDThh:mm:ss.sTZD\"\n\t}\n}"}},"schema":{"type":"object","properties":{"request_id":{"type":"string","example":"uuid"},"created":{"type":"string","example":"YYYY-MM-DDThh:mm:ss.sTZD"},"path":{"type":"string","example":"string"},"api_key_id":{"type":"string","example":"uuid"},"response":{"type":"object","properties":{"details":{"type":"object","properties":{"usd":{"type":"integer","example":0,"default":0},"duration":{"type":"integer","example":0,"default":0},"total_audio":{"type":"integer","example":0,"default":0},"channels":{"type":"integer","example":0,"default":0},"streams":{"type":"integer","example":0,"default":0},"models":{"type":"array","items":{"type":"string","example":"string"}},"method":{"type":"string","example":"string"},"tags":{"type":"array","items":{"type":"string","example":"string"}},"features":{"type":"array","items":{"type":"string","example":"string"}},"config":{"type":"object","properties":{"alternatives":{"type":"integer","example":0,"default":0},"callback":{"type":"string","example":"string"},"diarize":{"type":"boolean","example":true,"default":true},"keywords":{"type":"array","items":{"type":"string","example":"string"}},"language":{"type":"string","example":"string"},"model":{"type":"string","example":"string"},"multichannel":{"type":"boolean","example":true,"default":true},"ner":{"type":"boolean","example":true,"default":true},"numerals":{"type":"boolean","example":true,"default":true},"profanity_filter":{"type":"boolean","example":true,"default":true},"punctuate":{"type":"boolean","example":true,"default":true},"redact":{"type":"array","items":{"type":"string","example":"string"}},"search":{"type":"array","items":{"type":"string","example":"string"}},"utterances":{"type":"boolean","example":true,"default":true}}}}},"code":{"type":"integer","example":0,"default":0},"completed":{"type":"string","example":"YYYY-MM-DDThh:mm:ss.sTZD"}}},"callback":{"type":"object","properties":{"attempts":{"type":"integer","example":0,"default":0},"code":{"type":"integer","example":0,"default":0},"completed":{"type":"string","example":"YYYY-MM-DDThh:mm:ss.sTZD"}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}}},"deprecated":false}},"/projects/{project_id}/usage/fields":{"get":{"summary":"Get Fields","description":"Lists the features, models, tags, languages, and processing method used for requests in the specified project","operationId":"get-fields","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to retrieve fields. (UUID)","schema":{"type":"string"},"required":true},{"name":"start","in":"query","description":"Start date of the requested date range. Format is YYYY-MM-DD. If a full timestamp is given, it will be truncated to a day. Dates are UTC.  Defaults to the date of your first request.","schema":{"type":"string"}},{"name":"end","in":"query","description":"End date of the requested date range. Format is YYYY-MM-DD. If a full timestamp is given, it will be truncated to a day. Dates are UTC.  Defaults to the current date.","schema":{"type":"string"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"tags\": [\"string\"],\n\t\"models\": [\n\t\t{\n\t\t\t\"name\": \"string\",\n\t\t\t\"language\": \"string\",\n\t\t\t\"version\": \"string\",\n\t\t\t\"model_id\": \"string\"\n\t\t}\n\t],\n\t\"processing_methods\": [\"string\"],\n\t\"languages\": [\"string\"],\n\t\"features\": [\"string\"]\n}"}},"schema":{"type":"object","properties":{"tags":{"type":"array","items":{"type":"string","example":"string"}},"models":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string","example":"string"},"language":{"type":"string","example":"string"},"version":{"type":"string","example":"string"},"model_id":{"type":"string","example":"string"}}}},"processing_methods":{"type":"array","items":{"type":"string","example":"string"}},"languages":{"type":"array","items":{"type":"string","example":"string"}},"features":{"type":"array","items":{"type":"string","example":"string"}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}}},"deprecated":false}},"/projects/{project_id}/balances":{"get":{"summary":"Get All Balances","description":"Generates a list of outstanding balances for the specified project","operationId":"get-all-balances","parameters":[{"name":"project_id","in":"path","description":"Generates a list of outstanding balances for the specified project. To see balances, the authenticated account must be a project owner or administrator. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"balances\": [\n\t\t{\n\t\t\t\"balance_id\": \"uuid\",\n\t\t\t\"amount\": 0,\n\t\t\t\"units\": \"string\",\n\t\t\t\"purchase\": \"string\"\n\t\t}\n\t]\n}"}},"schema":{"type":"object","properties":{"balances":{"type":"array","items":{"type":"object","properties":{"balance_id":{"type":"string","example":"uuid"},"amount":{"type":"integer","example":0,"default":0},"units":{"type":"string","example":"string"},"purchase":{"type":"string","example":"string"}}}}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}}},"deprecated":false}},"/projects/{project_id}/balances/{balance_id}":{"get":{"summary":"Get Balance","description":"Retrieves details about the specified balance","operationId":"get-balance","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to retrieve the specified balance. (UUID)","schema":{"type":"string"},"required":true},{"name":"balance_id","in":"path","description":"Unique identifier of the balance that you want to retrieve. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n\t\"balance_id\": \"uuid\",\n\t\"amount\": 0,\n\t\"units\": \"string\",\n\t\"purchase\": \"string\"\n}"}},"schema":{"type":"object","properties":{"balance_id":{"type":"string","example":"uuid"},"amount":{"type":"integer","example":0,"default":0},"units":{"type":"string","example":"string"},"purchase":{"type":"string","example":"string"}}}}}},"400":{"description":"400","content":{"application/json":{"examples":{"Result":{"value":"{}"}},"schema":{"type":"object","properties":{}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}}},"deprecated":false}},"/projects/{project_id}/invites":{"get":{"summary":"List Invites","description":"","operationId":"list-invites","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to list invites. (UUID)","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"invites\": [\n    {\n      \"email\": \"string\",\n      \"scope\": \"string\"\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"invites":{"type":"array","items":{"type":"object","properties":{"email":{"type":"string","example":"string"},"scope":{"type":"string","example":"string"}}}}}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"User does not have sufficient permissions."}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}}}}},"deprecated":false},"post":{"summary":"Send Invite","description":"","operationId":"send-invites","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to send an invite for. (UUID)","schema":{"type":"string"},"required":true}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","required":["email","scope"],"properties":{"email":{"type":"string","description":"Email to invite to the project"},"scope":{"type":"string","description":"Scope to give the user"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\": \"Sent an invite!\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Sent an invite!"}}}}}},"400":{"description":"400","content":{"text/plain":{"examples":{"Result":{"value":"Invalid request: scope must be either 'member', 'admin' or 'owner'."}}}}},"401":{"description":"401","content":{"text/plain":{"examples":{"Result":{"value":"User does not have sufficient permissions."}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"err_code\": \"PROJECT_NOT_FOUND\",\n  \"err_msg\": \"Project not found.\"\n}"}},"schema":{"type":"object","properties":{"err_code":{"type":"string","example":"PROJECT_NOT_FOUND"},"err_msg":{"type":"string","example":"Project not found."}}}}}}},"deprecated":false}},"/projects/{project_id}/invites/{email}":{"delete":{"summary":"Delete Invite","description":"","operationId":"delete-invite","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project from which you want to remove the authenticated account. (UUID)","schema":{"type":"string"},"required":true},{"name":"email","in":"path","description":"Email of the invite you want to delete","schema":{"type":"string"},"required":true}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"message\": \"Successfully deleted the invite.\"\n}"}},"schema":{"type":"object","properties":{"message":{"type":"string","example":"Successfully deleted the invite."}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}}},"deprecated":false}},"/projects/{project_id}/usage":{"get":{"summary":"Summarize Usage","description":"Retrieves a summary of usage statistics","operationId":"summarize-usage","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to retrieve the specified request. (UUID)","schema":{"type":"string"},"required":true},{"name":"start","in":"query","description":"Start date of the requested date range.","schema":{"type":"string","format":"date"}},{"name":"end","in":"query","description":"End date of the requested date range.","schema":{"type":"string","format":"date"}},{"name":"accessor","in":"query","description":"Limits results to the given API key. To include multiple API Keys, send multiple instances in query string (e.g., accessor=2ed1...cfa4e&accessor=1dc0...bez3d).","schema":{"type":"string"}},{"name":"tag","in":"query","description":"Limits results to requests associated with the specified tag. To include multiple tags, send multiple instances in query string (e.g., tag=dev&tag=production)","schema":{"type":"string"}},{"name":"method","in":"query","description":"Limits results to requests processed using the specified method. To include multiple methods, send multiple instances in query string (e.g., method=sync&method=streaming).","schema":{"type":"string","enum":["sync","async","streaming"]}},{"name":"model","in":"query","description":"Limits results to requests run with the specified model UUID applied.","schema":{"type":"string"}},{"name":"multichannel","in":"query","description":"Limits results to requests that include the `multichannel` feature.","schema":{"type":"boolean"}},{"name":"interim_results","in":"query","description":"Limits results to requests that include the `interim_results` feature.","schema":{"type":"boolean"}},{"name":"punctuate","in":"query","description":"Limits results to requests that include the `punctuate` feature.","schema":{"type":"boolean"}},{"name":"ner","in":"query","description":"Limits results to requests that include the `ner` feature.","schema":{"type":"boolean"}},{"name":"utterances","in":"query","description":"Limits results to requests that include the `utterances` feature.","schema":{"type":"boolean"}},{"name":"replace","in":"query","description":"Limits results to requests that include the `replace` feature.","schema":{"type":"boolean"}},{"name":"profanity_filter","in":"query","description":"Limits results to requests that include the `profanity_filter` feature.","schema":{"type":"boolean"}},{"name":"keywords","in":"query","description":"Limits results to requests that include the `keywords` feature.","schema":{"type":"boolean"}},{"name":"detect_topics","in":"query","description":"Limits results to requests that include the `detect_topics` feature.","schema":{"type":"boolean"}},{"name":"diarize","in":"query","description":"Limits results to requests that include the `diarize` feature.","schema":{"type":"boolean"}},{"name":"search","in":"query","description":"Limits results to requests that include the `search` feature.","schema":{"type":"boolean"}},{"name":"redact","in":"query","description":"Limits results to requests that include the `redact` feature.","schema":{"type":"boolean"}},{"name":"alternatives","in":"query","description":"Limits results to requests that include the `alternatives` feature.","schema":{"type":"boolean"}},{"name":"numerals","in":"query","description":"Limits results to requests that include the `numerals` feature.","schema":{"type":"boolean"}},{"name":"smart_format","in":"query","description":"Limits results to requests that include the `smart_format` feature.","schema":{"type":"boolean"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"start\": \"date\",\n  \"end\": \"date\",\n  \"resolution\": {\n    \"units\": \"string\",\n    \"amount\": 0\n  },\n  \"results\": [\n    {\n      \"start\": \"date\",\n      \"end\": \"date\",\n\t\t\t\"hours\": 0,\n      \"total_hours\": 0,\n      \"requests\": 0\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"start":{"type":"string","example":"date"},"end":{"type":"string","example":"date"},"resolution":{"type":"object","properties":{"units":{"type":"string","example":"string"},"amount":{"type":"integer","example":0,"default":0}}},"results":{"type":"array","items":{"type":"object","properties":{"start":{"type":"string","example":"date"},"end":{"type":"string","example":"date"},"hours":{"type":"integer","example":0,"default":0},"total_hours":{"type":"integer","example":0,"default":0},"requests":{"type":"integer","example":0,"default":0}}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}}},"deprecated":false}},"/projects/{project_id}/onprem/distribution/credentials":{"get":{"summary":"List Credentials","description":"Lists sets of distribution credentials for the specified project","operationId":"list-credentials","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to get keys. (UUID)","schema":{"type":"string","default":"PROJECT_ID"},"required":true},{"name":"Authorization","in":"header","description":"The secret from an API key as a `Token`.","schema":{"type":"string","default":"Token SECRET"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"distribution_credentials\": [\n    {\n      \"member\": {\n        \"member_id\": \"3376abcd-8e5e-49d3-92d4-876d3a4f0363\",\n        \"email\": \"email\"\n      },\n      \"distribution_credentials\": {\n        \"distribution_credentials_id\": \"8b36cfd0-472f-4a21-833f-2d6343c3a2f3\",\n        \"provider\": \"quay\",\n        \"comment\": \"My On-prem Distribution Credentials\",\n        \"scopes\": [\n          \"onprem:product:api\",\n          \"onprem:product:engine\"\n        ],\n        \"created\": \"2023-06-28T15:36:59.609841Z\"\n      }\n    },\n    {\n      \"member\": {\n        \"member_id\": \"c7b9b131-73f3-11d9-8665-0b00d2e44b83\",\n        \"email\": \"email\"\n      },\n      \"distribution_credentials\": {\n        \"distribution_credentials_id\": \"82c32c10-53b2-4d23-993f-864b3d44502a\",\n        \"provider\": \"quay\",\n        \"comment\": \"My other On-prem Distribution Credentials\",\n        \"scopes\": [\n          \"onprem:product:api\",\n          \"onprem:product:engine\"\n        ],\n        \"created\": \"2023-06-28T15:36:59.609841Z\"\n      }\n    }\n  ]\n}"}},"schema":{"type":"object","properties":{"distribution_credentials":{"type":"array","items":{"type":"object","properties":{"member":{"type":"object","properties":{"member_id":{"type":"string","example":"3376abcd-8e5e-49d3-92d4-876d3a4f0363"},"email":{"type":"string","example":"email"}}},"distribution_credentials":{"type":"object","properties":{"distribution_credentials_id":{"type":"string","example":"8b36cfd0-472f-4a21-833f-2d6343c3a2f3"},"provider":{"type":"string","example":"quay"},"comment":{"type":"string","example":"My On-prem Distribution Credentials"},"scopes":{"type":"array","items":{"type":"string","example":"onprem:product:api"}},"created":{"type":"string","example":"2023-06-28T15:36:59.609841Z"}}}}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"curl -X GET \\                                                                                                                                     315ms  Wed Jun 28 17:12:47 2023\n  -H 'Authorization: Token 4b08cefa12b80a6d16cb10c82fd8045e8f915087' \\\n  https://api.deepgram.com/v1/projects/9f870faf-07a9-41b1-aa0d-de5030cb9bdc/onprem/distribution/credentials","name":"curl"}],"samples-languages":["text"]}},"post":{"summary":"Create Credentials","description":"Creates distribution credentials for the specified project","operationId":"create-credentials","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to get keys. (UUID)","schema":{"type":"string","default":"PROJECT_ID"},"required":true},{"name":"Authorization","in":"header","description":"The secret from an API key as a `Token`.","schema":{"type":"string","default":"Token SECRET"}},{"name":"Content-Type","in":"header","description":"The format of the HTTP body","schema":{"type":"string","default":"application/json"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"comment":{"type":"string","description":"A friendly name for the distribution credentials.","default":"My on-prem distribution credentials"},"scopes":{"type":"array","description":"The product scopes granted to the credentials as an Array of Strings.","default":["onprem:products"],"items":{"type":"string"}},"provider":{"type":"string","description":"The provider for the distribution credentials. Only valid value is \"quay\".","default":"quay"}}}}}},"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"member\": {\n    \"member_id\": \"c7b9b131-73f3-11d9-8665-0b00d2e44b83\",\n    \"email\": \"email\"\n  },\n   \"distribution_credentials\": {\n    \"distribution_credentials_id\": \"82c32c10-53b2-4d23-993f-864b3d44502a\",\n    \"provider\": \"quay\",\n    \"comment\": \"My On-prem Distribution Credentials\",\n    \"scopes\": [\n      \"onprem:product:api\",\n      \"onprem:product:engine\"\n    ],\n    \"created\": \"2023-06-28T15:36:59.609841Z\"\n  }\n}"}},"schema":{"type":"object","properties":{"member":{"type":"object","properties":{"member_id":{"type":"string","example":"c7b9b131-73f3-11d9-8665-0b00d2e44b83"},"email":{"type":"string","example":"email"}}},"distribution_credentials":{"type":"object","properties":{"distribution_credentials_id":{"type":"string","example":"82c32c10-53b2-4d23-993f-864b3d44502a"},"provider":{"type":"string","example":"quay"},"comment":{"type":"string","example":"My On-prem Distribution Credentials"},"scopes":{"type":"array","items":{"type":"string","example":"onprem:product:api"}},"created":{"type":"string","example":"2023-06-28T15:36:59.609841Z"}}}}}}}},"403":{"description":"403","content":{"application/json":{"examples":{"Result":{"value":"{\"category\":\"UNAUTHORIZED\",\"message\":\"Authentication failed.\",\"details\":\"Check that you are using the correct credentials.\",\"request_id\":\"29fcbd9f-1294-40b2-9d30-35eaad478e29\"}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"UNAUTHORIZED"},"message":{"type":"string","example":"Authentication failed."},"details":{"type":"string","example":"Check that you are using the correct credentials."},"request_id":{"type":"string","example":"29fcbd9f-1294-40b2-9d30-35eaad478e29"}}}}}},"404":{"description":"404","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"category\": \"NOT_FOUND\",\n  \"message\": \"A project with the submitted ID cannot be found.\",\n  \"details\": \"Check that you have submitted the intended project ID and that the project has not been deleted.\",\n  \"request_id\": \"748f0880-8584-4003-b5aa-08168c5dd14e\"\n}"}},"schema":{"type":"object","properties":{"category":{"type":"string","example":"NOT_FOUND"},"message":{"type":"string","example":"A project with the submitted ID cannot be found."},"details":{"type":"string","example":"Check that you have submitted the intended project ID and that the project has not been deleted."},"request_id":{"type":"string","example":"748f0880-8584-4003-b5aa-08168c5dd14e"}}}}}}},"deprecated":false,"x-readme":{"code-samples":[{"language":"text","code":"curl -X POST \\                                                                                                                                300ms  Wed Jun 28 16:01:19 2023\n    -H 'Authorization: Token aa4909ae0078f880a1e5846ed42e28adf8b31780' \\\n    -H 'Content-Type: application/json' \\\n    --url https://api.deepgram.com/v1/projects/9f870faf-07a9-41b1-aa0d-de5030cb9bdc/onprem/distribution/credentials \\\n    --data '{\"comment\": \"My on-prem distribution credentials\", \"scopes\":[\"onprem:products\"], \"provider\": \"quay\"}'","name":"curl"}],"samples-languages":["text"]}}},"/projects/{project_id}/onprem/distribution/credentials/{distribution_credentials_id}":{"get":{"summary":"Get Credentials","description":"Gets one set of distribution credentials for the specified project","operationId":"get-credentials","parameters":[{"name":"project_id","in":"path","description":"Unique identifier of the project for which you want to get keys. (UUID)","schema":{"type":"string","default":"PROJECT_ID"},"required":true},{"name":"distribution_credentials_id","in":"path","description":"Unique identifier of the distribution credentials for which you want to examine. (UUID)","schema":{"type":"string","default":"DISTRIBUTION_CREDENTIALS_ID"},"required":true},{"name":"Authorization","in":"header","description":"The secret from an API key as a `Token`.","schema":{"type":"string","default":"Token SECRET"}}],"responses":{"200":{"description":"200","content":{"application/json":{"examples":{"Result":{"value":"{\n  \"member\": {\n    \"member_id\": \"c7b9b131-73f3-11d9-8665-0b00d2e44b83\",\n    \"email\": \"email\"\n  },\n   \"distribution_credentials\": {\n    \"distribution_credentials_id\": \"82c32c10-53b2-4d23-993f-864b3d44502a\",\n    \"provider\": \"quay\",\n 
[...]
