.env
*.env
shelby-as-a-service.code-workspace
logs/
.vscode/
**/__pycache__/

app/deployments/*/index/*/*
app/deployments/*
!app/deployments/deployment_maker/
!app/deployments/template/
!app/deployments/tatum/
!template.env
content_aggregator/